@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

ViewData["Title"] = "Home Page";

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to pet meet ups<h1>
            <p class="lead text-muted">This is a pet meetup app</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                           <a href="#" class="btn btn-secondary my-2">Main call to action</a>
            </p>
    </div>
</section>